<app-navbar></app-navbar>
<div class="container">
  <div class="section__wrapper">
    <div class="section--left">
      <app-sidebar></app-sidebar>
    </div>
    <div class="section--right">
      <div class="order_wrapper">
        <div class="filter__wrapper">
          <form class="search__form">
            <div class="filter__item">
              <label>Search</label>
              <input class="input--admin" type="text">
            </div>
          </form>
        </div>

        <div class="order__content">
          <div class="table__wrapper">
            <table class="order__table">
              <thead>
              <tr>
                <th>Fullname</th>
                <th>Active</th>
                <th>Created Date</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Province</th>
              </tr>
              </thead>
              <tbody *ngIf="userList.data.length">
              <tr *ngFor="let user of userList.data">
                <td>
                  {{user.lastname + " " + user.firstname + " " + user.patronymic}}
                </td>
                <td>
                  <input type="checkbox" *ngIf="user.active" checked>
                  <input type="checkbox" *ngIf="!user.active">
                </td>
                <td>
                  {{user.createDateTime}}
                </td>
                <td>
                  {{user.username}}
                </td>
                <td>
                  {{user.phoneNumber}}
                </td>
                <td>
                  Namangan
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
