.section__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 60px;
  width: 100%;
}

.section--left {
  width: 220px;
  min-height: calc(100vh - 60px);
  background-color: #fff;
}

.section--right {
  width: calc(100% - 220px);
}

.container {
  padding: 0;
  background-color: #F5F7FF;
}

.filter__wrapper {
  width: calc(100% - 20px);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin: 10px;
  padding: 0 20px;
}

.search__form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  margin-right: 20px;
}

.filter__item {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.filter__dropdown {
  width: 120px;
}

.order__content {
  background-color: #fff;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
}

.order__table{
  min-width: 1600px;
}

.table__tbody td {
  vertical-align: middle;
}

// create product modal begin
.close__btn {
  top: 8px;
  right: 8px;
}

.admin__content {
  width: 600px;
}

.admin__form--item__wrapper {
  display: flex;
  justify-content: space-between;

  .admin__form--item {
    &:nth-child(1),
    &:nth-child(2) {
      width: 45%;
    }
  }
}

.admin__form--item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

textarea {
  padding: 10px;
  font-size: 16px;
  height: 100px;
}

.create__btn {
  width: 160px;
  font-size: 18px;
}

.with-save__input {
  margin-left: 150px;

  input {
    margin-left: 20px;
  }
}

.images-file__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.images-file__input + label {
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: white;
  background-color: #57B657;
  border: 1px solid #57B657;
}

.images-file__input:focus + label,
.images-file__input + label:hover {
  background-color: #fff;
  color: #57B657;
}

// create product modal end

.add-product__content {
  width: 200px;
}

.add-product__form {
  display: flex;
  flex-direction: column;

  input {
    margin-bottom: 20px;
  }
}

.product__table {
  margin: 0;
}

.change-active__content {
  width: 300px;
}

.change-active-product {
  display: flex;
  justify-content: space-between;
}

.edit__btn img {
  width: 30px;
}

.edit-product__wrapper {
  display: flex;
  justify-content: space-between;
}

.image__list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  max-height: 410px;
  overflow: auto;
  padding: 0 10px;

  &::-webkit-scrollbar {
    height: 8px;
    width: 6px; /* width of the entire scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: rgba(146, 172, 199, 0.63); /* color of the tracking area */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #8d8dab; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 1px solid rgba(146, 172, 199, 0.63); /* creates padding around scroll thumb */
  }
}

.image__item {
  border: 1px solid rgba(75, 70, 70, 0.67);
  border-radius: 10px;
  position: relative;

  .close__btn {
    top: 0;
    right: 0;
  }

  margin-bottom: 10px;
}

.image__item img {
  max-width: 120px;
}

.edit-product__btn {
  display: block;
  margin: 0 auto;
  width: 160px;
  font-size: 18px;
}
