<div class="sidebar__wrapper">
  <ul class="menu__list">
    <li class="menu__item" routerLink="/admin/dashboard" routerLinkActive="menu--active">
      <img src="assets/img/admin/dashboard.png">
      <p class="menu__item--title">Dashboard</p>
    </li>

    <li class="menu__item" routerLink="/admin/orders" routerLinkActive="menu--active">
      <img src="assets/img/admin/dashboard.png">
      <p class="menu__item--title">Orders</p>
    </li>

    <li class="menu__item" routerLink="/admin/users" routerLinkActive="menu--active">
      <img src="assets/img/admin/dashboard.png">
      <p class="menu__item--title">Users</p>
    </li>

    <li class="menu__item" routerLinkActive="menu--active">
      <img src="assets/img/admin/dashboard.png">
      <p class="menu__item--title">Promocode</p>
    </li>

    <li class="menu__item" routerLinkActive="menu--active">
      <img src="assets/img/admin/dashboard.png">
      <p class="menu__item--title">Products</p>
    </li>

    <li class="menu__item" routerLinkActive="menu--active">
      <img src="assets/img/admin/dashboard.png">
      <p class="menu__item--title">Category</p>
    </li>

  </ul>
</div>
