<div class="category--header">
  <app-header></app-header>
</div>
<div class="page--section">
  <div class="container">
    <h1 class="section--heading">
      Checkout
    </h1>
    <div class="proceed__wrapper">
      <form class="details__form" (submit)="checkout()">
        <h2>Enter delivery details</h2>
        <label>Name</label>
        <input type="text">
        <label>SURNAME</label>
        <input type="text">
        <label>PATRONYMIC</label>
        <input type="text">
        <label>PHONE NUMBER</label>
        <input type="text">
        <label>Email</label>
        <input type="email">
        <label>PROVINCE</label>
        <input type="text">
        <label>DISTRICT</label>
        <input type="text">
        <label>Address</label>
        <textarea type="text"></textarea>
        <label>Note</label>
        <textarea type="text"></textarea>
        <button class="black-white__btn" type="submit">Proceed</button>
      </form>
      <div class="order__wrapper">
        <h2>Your order</h2>
        <ul class="order__list">
          <li class="order__item">
            <p class="order__item__name">
              B.O.M.J Black
            </p>
            <p class="order__item__size">
              <span class="order__item__title">Size:
              <span>XS</span>
              </span>
              <span class="order__item__title">Quantity:
              <span>1</span></span>
              <span class="order__item__cost">26.25 USD</span>
            </p>
          </li>
          <li class="order__item">
            <p class="order__item__name">
              B.O.M.J Black
            </p>
            <p class="order__item__size">
              <span class="order__item__title">Size:
              <span>XS</span>
              </span>
              <span class="order__item__title">Quantity:
              <span>1</span></span>
              <span class="order__item__cost">26.25 USD</span>
            </p>
          </li>
          <li class="order__item__footer">
            <p class="order__item__size">
              <span class="order__item__title">Cost of the items:
              <span>225.34 USD</span>
              </span>
              <span class="order__item__title">Delivery cost:
              <span>22.27 USD</span></span>
            </p>
          </li>
        </ul>
        <h2 class="order__wrapper--totalAmount">TOTAL DUE: 247.61 USD</h2>
      </div>
    </div>
    <!--    <form class="promocode__form" [formGroup]="promocodeForm" (submit)="checkPromoCode()">-->
    <!--      <label>-->
    <!--        <span>Promocode:</span>-->
    <!--        <input type="text" formControlName="code">-->
    <!--      </label>-->
    <!--      <button class="black-white__btn" type="submit">-->
    <!--        Apply-->
    <!--      </button>-->
    <!--    </form>-->
  </div>
</div>
<app-footer></app-footer>
