<div class="category--header">
  <app-header></app-header>
</div>
<section class="product--section">
  <div class="container">
    <h1 class="product--heading">
      {{productDetail.name}}
    </h1>
    <div class="product-content">
      <div class="product-slider">
        <app-carousel [images]="productDetail.imageItems"></app-carousel>
      </div>
      <div class="product-info">
        <div class="price-current">
            <span>
                {{productDetail.cost}}&nbsp;USD
            </span>
        </div>
        <div class="product-info-description">
          <div *ngFor="let description of productDetail.descriptionItems">
            <p>{{description.text}}</p>
          </div>
        </div>
        <!-- <button type="button" class="product-info-size-chart">Size grid</button> -->
        <button type="button" class="product-info-care" (click)="takingCareOpen()">Taking care of the
          item
        </button>

        <form [formGroup]="formOrder" (submit)="addToCart()">
          <div class="product-info-sizes" *ngIf="productDetail.size!=0">
            <div class="product-info-sizes-title">Choose a size:</div>
            <div class="product-info-sizes-list">
              <div class="product-info-sizes-list-content">
                <label class="product-info-sizes__label">
                  <input class="product-info-sizes__input" type="radio" value="xs" name="size"
                         formControlName="size">
                  <span class="product-info-size__span">XS</span>
                </label>
                <label class="product-info-sizes__label">
                  <input class="product-info-sizes__input" type="radio" value="s" name="size"
                         formControlName="size">
                  <span class="product-info-size__span">S</span>
                </label>
                <label class="product-info-sizes__label">
                  <input class="product-info-sizes__input" type="radio" value="m" name="size"
                         formControlName="size">
                  <span class="product-info-size__span">M</span>
                </label>
                <label class="product-info-sizes__label">
                  <input class="product-info-sizes__input" type="radio" value="l" name="size"
                         formControlName="size">
                  <span class="product-info-size__span">L</span>
                </label>
                <label class="product-info-sizes__label">
                  <input class="product-info-sizes__input" type="radio" value="xl" name="size"
                         formControlName="size">
                  <span class="product-info-size__span">XL</span>
                </label>
                <label class="product-info-sizes__label">
                  <input class="product-info-sizes__input" type="radio" value="2xl" name="size"
                         formControlName="size">
                  <span class="product-info-size__span">2XL</span>
                </label>
                <label class="product-info-sizes__label">
                  <input class="product-info-sizes__input" type="radio" value="3xl" name="size"
                         formControlName="size">
                  <span class="product-info-size__span">3XL</span>
                </label>
              </div>
            </div>
          </div>

          <div class="product-info-count-title">Quantity:</div>
          <div class="product-info-count">
            <div class="product-info-count-counter">
              <button class="product-info-count--left" type="button" (click)="decrement()">
                <svg class="minus" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 4v1H0V4z"></path>
                </svg>
              </button>
              <input formControlName="count" class="product-info-count-input" value={{count}}>
              <button class="product-info-count--right" type="button" (click)="increment()">
                <svg class="plus" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 4H5V0H4v4H0v1h4v4h1V5h4z"></path>
                </svg>
              </button>
            </div>
            <button type="submit" class="product-info-add-to-cart">
              <span>
                  Add to cart
              </span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<div class="taking-care__modal-wapper" *ngIf="takingCareShow">
  <div class="popup-layer" (click)="takingCareClose()"></div>
  <div class="taking-care__modal">
    <div class="taking-care__modal-content">
      <div class="close__btn" (click)="takingCareClose()">
        <div class="inside"></div>
      </div>
      <h2 class="taking-care__heading">
        Standard care rules:
      </h2>
      <p class="taking-care__text">
        {{productDetail.advice}}
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
