<a class="category-product" routerLink="/product/{{ id }}">
    <div class="category-product-cover">
        <picture>
            <source srcset="{{ imgURL }}" type="image/webp">
            <img class="category-product-image" loading="lazy" src="{{ imgURL }}" alt="">
        </picture>
        <div class="price category-product-price">
            <div class="price-current">
                <span>{{ productCost }}&nbsp;USD</span>
            </div>
        </div>
    </div>
    <div class="category-product-name">
        <span>{{ productName }}</span>
    </div>
</a>
