<div class="category--header">
  <app-header (updateTotalAmountInCart) = "cartService.updateTotalAmountInCart()"
              [totalAmount] = "cartService.totalAmount"></app-header>
</div>
<section class="page--section">
  <div class="container">
    <h1 class="section--heading">
      {{ categoryName | uppercase }}
    </h1>
    <div class="card__list" *ngIf="productList.length; else loader">
        <app-card
          *ngFor="let product of productList"
          [id]="product.id"
          [productCost]="product.cost"
          [imgURL]="product.imageItems[0].url"
          [productName]="product.name">
        </app-card>
    </div>
    <ng-template #loader>
      <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </ng-template>

    <!-- <form [formGroup]="form" (submit)="formSubmit()">-->
    <!-- <input formControlName="cost" type="text" placeholder="Cost"> -->
    <!-- <button type="submit">Submit</button> -->
    <!-- </form> -->
  </div>
</section>
<app-footer></app-footer>
