<app-navbar></app-navbar>
<div class="container">
  <div class="section__wrapper">
    <div class="section--left">
      <app-sidebar></app-sidebar>
    </div>
    <div class="section--right">
      <div class="order_wrapper">
        <div class="filter__wrapper">
          <form class="filter__form" (submit)="updateTable()" [formGroup]="filterForm">
            <div class="filter__item">
              <label>From</label>
              <input class="input--admin" type="date" value="{{dateBeforeMonth}}" formControlName="dateTo">
            </div>
            <div class="filter__item">
              <label>To</label>
              <input class="input--admin" type="date" value="{{now}}" formControlName="dateFrom">
            </div>
            <div class="filter__item">
              <label>Status</label>
              <select class="input--admin filter__dropdown" formControlName="status">
                <option value="ALL">ALL</option>
                <option value="PENDING">PENDING</option>
                <option value="CONFIRM">CONFIRM</option>
                <option value="CHECKOUT">CHECKOUT</option>
                <option value="CANCELED">CANCELED</option>
                <option value="PAID">PAID</option>
                <option value="CANCELED_BY_EXPIRED">CANCELED_BY_EXPIRED</option>
                <option value="CHOICE_PAYMENT">CHOICE_PAYMENT</option>
                <option value="PAY_SUCCESS" selected>PAY_SUCCESS</option>
                <option value="PAY_FAIL">PAY_FAIL</option>
              </select>
            </div>
            <div class="filter__item">
              <label>State</label>
              <select class="input--admin filter__dropdown" formControlName="state">
                <option value="ALL" selected>ALL</option>
                <option value="USER_FINISH">USER_FINISH</option>
                <option value="PENDING">PENDING</option>
                <option value="WAREHOUSE">WAREHOUSE</option>
                <option value="SUPPLIER">SUPPLIER</option>
              </select>
            </div>
            <div class="filter__item">
              <label>Province</label>
              <select class="input--admin filter__dropdown" formControlName="province">
                <option value="ALL" selected>ALL</option>
                <option value="{{province.id}}" *ngFor="let province of provinceList">{{province.name}}</option>
              </select>
            </div>
            <button class="info-btn--admin" type="submit">Filter</button>
          </form>
          <form class="search__form" [formGroup]="searchForm">
            <div class="filter__item">
              <label>Search</label>
              <input class="input--admin" type="text" (keyup)="search()" formControlName="search">
            </div>
          </form>
        </div>

        <div class="order__content">
          <div class="table__wrapper">
            <table class="order__table">
              <thead>
              <tr>
                <th style="width: 100px">OrderId</th>
                <th>Products</th>
                <th>Created Date</th>
                <th>Status</th>
                <th>State</th>
                <th>Province</th>
                <th>Cost</th>
                <th>Next state</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Info</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let order of orders.data| paginate: {
              itemsPerPage: 10,
              currentPage: orders.pages,
              totalItems: orders.totalCount
              }">
                <td>{{order.id}}</td>
                <td>
                  <table class="product__table">
                    <thead>
                    <tr>
                      <th>Name</th>
                      <th>Size</th>
                      <th>Count</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let orderItem of order.orderItems">
                      <td>{{orderItem.name}}</td>
                      <td>{{orderItem.size.toUpperCase()}}</td>
                      <td>{{orderItem.count}}</td>
                    </tr>
                    </tbody>
                  </table>
                </td>
                <td>
                  {{order.createdDate}}
                </td>
                <td>
                  {{order.status}}
                </td>
                <td>
                  {{order.state}}
                </td>
                <td>
                  {{order.province}}
                </td>
                <td>
                  {{order.totalAmount}} $
                </td>
                <td>
                  <button class="btn success__btn"
                          [ngClass]="{'orange-color': order.state == 'WAREHOUSE', 'blue-color':order.state == 'SUPPLIER'}"
                          [disabled]="order.state == 'FINISHED'" (click)="accept(order.id)">
                    ACCEPT
                  </button>
                </td>
                <td>
                  {{order.email}}
                </td>
                <td>
                  {{order.phoneNumber}}
                </td>
                <td>
                  {{order.address}}
                </td>
                <td>
                  {{order.note}}
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <pagination-controls class="pagination-controls"
                             (pageChange)="page = $event; updateTable()"></pagination-controls>
      </div>
    </div>
  </div>
</div>
