.video-section {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    height: auto;
}
.slogan-section {
    background-color: #fff;
}
.slogan-whiteword {
    padding: 40px 0;
    font-size: 21px;
    line-height: 43px;
    word-spacing: 8px;
    font-weight: 700;
    text-align: center;
    font-family: Futura, sans-serif;
}
.slogan-blackword {
    padding: 10px 15px;
    background-color: #000;
    color: #fff;
}
.home-video {
    width: 100%;
    max-width: 1920px;
}
.home--header {
    position: absolute;
    width: 100%;
    z-index: 10;
}
