<header class="home--header">
  <app-header (updateTotalAmountInCart) = "cartService.updateTotalAmountInCart()"
              [totalAmount] = "cartService.totalAmount"></app-header>
</header>
<div class="video-section">
  <video class="home-video" poster="/assets/img/0.jpg" loop autoplay playsinline>
    <source src="/assets/video/home.mp4" type="video/mp4">
  </video>
</div>
<div class="slogan-section">
  <h2 class="slogan-whiteword">THERE'S ONLY
    <span class="slogan-blackword">WHITE</span>
    AND BLACK, THE REST ARE
    SHADES.
  </h2>
</div>
<app-footer></app-footer>
