<header class="home--header">
    <app-header></app-header>
</header>
<div class="video-section">
    <video class="home-video" autoplay loop>
        <!-- <source type="video/mp4" src="https://jolybell.com/video/slider/SygSecTq61CKMMZ.mp4?"> -->
        <source type="video/mp4" src="/assets/video/home.mp4">
    </video>
</div>
<div class="slogan-section">
    <h2 class="slogan-whiteword">THERE'S ONLY
        <span class="slogan-blackword">WHITE</span>
        AND BLACK, THE REST ARE
        SHADES.
    </h2>
</div>
<app-footer></app-footer>