td, th {
  text-align: left;
  padding: 5px;
  border: 1px solid rgba(121, 119, 119, 0.49);
}

.table__wrapper {
  overflow: auto;

  &::-webkit-scrollbar {
    height: 8px;
    width: 12px; /* width of the entire scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: rgba(146, 172, 199, 0.63); /* color of the tracking area */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #8d8dab; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 1px solid rgba(146, 172, 199, 0.63); /* creates padding around scroll thumb */
  }
}

table {
  border-collapse: collapse;
}

.order__table {
  min-width: 100%;
  border-radius: 5px;
}
