.section__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 60px;
}

.section--left {
  width: 220px;
}

.container{
  padding: 0;
  background-color: #F5F7FF;
}
